.imgManagement {
    box-sizing: border-box;
    padding: 0 0.4rem;
    ul {
        li {
            box-sizing: border-box;
            width: 33.33%;
            // height: 149px;
            padding: 0.4rem;
            [type="file"] {
                position: absolute;
                opacity: 0;
            }
            div {
                width: 1.5rem;
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
                z-index: 2;
            }
            img {
            }
        }
    }
}